# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-snowflake==6.8.2
apache-airflow-providers-amazon==9.20.0
dbt-core==1.11.2
dbt-snowflake==1.11.1
neo4j
pandas==3.0.0